.home-page {
    font-family: 'EB Garamond', serif;
    margin-top: 60px;
    scroll-behavior: smooth;
    margin-bottom: 60px;
    /*height: calc(100vh - 60px);*/
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
    /*border: solid 1px black;*/
    box-sizing: border-box;
}

.section{
    /*margin-top: -60px;*/
    max-width: 50%;
}

.home-header {
    font-size: 100px;
    margin: 0;
    padding-bottom: 20px;
}

.home-sub-header {
    font-weight: 300;
    padding: 0 10px 40px;
    margin: 0;
}

.learn-more-section{
    text-align: left;
}

.learn-more-link {
    font-family: "Roboto";
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 400;
    /*background-color: #171A20CC;*/
    /*background-color: #000;*/
    /*border-radius: 5px;*/
    border: 1px solid #000;
}
