.navbar-wrapper{
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.navbar {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #FFFFFF;
}

.navbar-left-item{
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #1D242B;
    margin: 0 auto 0 24px;
}

.navbar-link {
    color: #1D242B;
    margin: 0 24px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

.active{
    color: #0077C0;
}

@media only screen and (max-width: 500px) {
    .navbar{
        justify-content: space-evenly;
    }
    .navbar-left-item{
        margin: 0 0 0 24px;
    }
}
