.team-page{
    margin-top: 60px;
}

.team-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
}

.team-column{
    max-width: 50%;
}
.team-member-card{
    text-align: start;
    margin-bottom: 60px;
}

.apply-link{
    font-family: "Roboto", sans-serif;
    color: #0077C0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.team-member-pic{
    width: 128px;
    height: 128px;
    margin: 0 20px 0 0;
    float: left;
    border-radius: 50%;
    /*border: 1px solid #0077C0;*/
}

@media only screen and (max-width: 500px) {
    .team-column{
        max-width: 100%;
    }
    .team-container{
        padding: 0 24px;
    }
}
